<!DOCTYPE html>
<html>
  <head>
    <title>Admin - Edit Demand History Record</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1>Admin - Edit Demand History Record</h1>
    <% if (error) { %>
    <p style="color: red"><%= error %></p>
    <% } %>
    <form
      action="/admin/demand-history/<%= dh.record_id %>?_method=PUT"
      method="POST"
    >
      <label for="flight_id">Flight ID:</label>
      <input
        type="text"
        name="flight_id"
        id="flight_id"
        value="<%= dh.flight_id %>"
        required
      />
      <br />
      <label for="date">Date:</label>
      <input
        type="date"
        name="date"
        id="date"
        value="<%= dh.date %>"
        required
      />
      <br />
      <label for="historical_tickets_sold">Tickets Sold:</label>
      <input
        type="number"
        name="historical_tickets_sold"
        id="historical_tickets_sold"
        min="0"
        value="<%= dh.historical_tickets_sold %>"
        required
      />
      <br />
      <label for="historical_load_factor">Load Factor (0-1):</label>
      <input
        type="number"
        step="0.01"
        name="historical_load_factor"
        id="historical_load_factor"
        min="0"
        max="1"
        value="<%= dh.historical_load_factor %>"
        required
      />
      <br />
      <!-- New fields for segment sold -->
      <label for="economy_segment_sold">Economy Tickets Sold:</label>
      <input
        type="number"
        name="economy_segment_sold"
        id="economy_segment_sold"
        min="0"
        value="<%= dh.economy_segment_sold %>"
        required
      />
      <br />
      <label for="business_segment_sold">Business Tickets Sold:</label>
      <input
        type="number"
        name="business_segment_sold"
        id="business_segment_sold"
        min="0"
        value="<%= dh.business_segment_sold %>"
        required
      />
      <br />
      <label for="first_segment_sold">First Tickets Sold:</label>
      <input
        type="number"
        name="first_segment_sold"
        id="first_segment_sold"
        min="0"
        value="<%= dh.first_segment_sold %>"
        required
      />
      <br />
      <button type="submit">Update</button>
    </form>
    <a href="/admin/demand-history">Back to Demand History</a>
  </body>
</html>
